.box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.box strong {
    font-weight: normal;
    text-align: left;
    color: var(--t-gray);
}

.correct {
    background-color: var(--t-green);
}

.wrong {
    background-color: var(--t-red);
}

.line {
    border-top: 2px solid var(--t-blue);
    border-bottom: 2px solid var(--t-blue);
    height: 100%;
    align-content: center;
    border-right: 2px solid var(--t-gray);
    min-width: 50px;
    animation: box_entrance .8s cubic-bezier(.03,.91,.36,.99) forwards;
    opacity: 0;
    font-weight: bold;
    font-family: "InterItalic";
    text-transform: uppercase;
}

.line:not(.start) {
    font-size: 2rem;
}

.line.start{ /* name */
    border-left: 2px solid var(--t-blue);
    border-radius: 10vw 0 0 10vw;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    justify-content: center;
    text-align: left;
    padding-left: 20px;

}

.line :first-child {
    text-transform: capitalize;
}

.line span.units {
    font-size: 1rem;
}

.end{
    border-right: 2px solid var(--t-blue);
    border-radius: 0 10vw 10vw 0;
}

.line.wrong, .line.correct {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.line.more {
    background-image: url(../assets/ArrowUp.svg);
}

.line.less {
    background-image: url(../assets/ArrowDown.svg);
}

.line.correct {
    background-image: url(../assets/Checkmark.svg);
}

.line.wrong:not(.line.less,.line.more) {
    background-image: url(../assets/X-mark.svg);
}

.country {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    display: flex;
    padding-right: 65px;
}

.hand {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    display: flex;
    padding-right: 65px;
}

.handLeft img{
    transform: scaleX(-1.8) scaleY(1.8);
}

.handRight img{
    transform: scale(1.8);
}

@keyframes box_entrance {
    0% {
        transform: translateY(50px);
        opacity: 0;
    };
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}