.error {
    position: absolute;
    bottom: 40px;
    margin: 10px;
    font-size: .8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid var(--t-n-pink);
    border-radius: 50px;
    padding: 5px;
    width: 60%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--t-n-black);
    animation: .5s ease forwards enter_anim;
}

@keyframes enter_anim {
    0%{
        opacity: 0;
        bottom: 80px;
    }
    100%{
        opacity: 1;
    }
}