.container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 80%;
    margin-bottom: 50px;
}

.line {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    animation: line_entrance .8s cubic-bezier(.03,.91,.36,.99);
}

.try .fill {
    height: 24px; /* Same as strong height */
    display: block;
}

.try {
    margin-left: 20px;
    font-style: italic;
    font-weight: bold;
}

@keyframes line_entrance {
    0% {
        transform: translateY(-50px);
    };
    100% {
        transform: translateY(0);
    }
}