.guessSection {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    gap: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.guessSection button {
    border-radius: 50px;
    background-image: linear-gradient(to left,var(--t-n-gray), var(--t-n-gray), var(--t-n-red), var(--t-n-pink));
    background-size: 300%;
    background-position: calc(100% + 1px); /* deal with the extra space */
    transition: background-position .3s ease;
}

.guessSection button:hover {
    border: transparent 1px solid;
    cursor: not-allowed;
}

.guessSection button.active {
    transition: background-image 1s ease;
    transition: background-position .3s ease;
    background-size: 300%;
    background-position: calc(0% - 1px); /* deal with the extra space */
    background-image: linear-gradient(to left,var(--t-n-gray), var(--t-n-gray), var(--t-n-red), var(--t-n-pink));
}

.guessSection button.active:hover {
    border: var(--t-n-blue) 1px solid;
    cursor: pointer;
}

.suggestions {
    list-style: none;
    text-align: left;
    max-height: 200px;
    padding: 0;
    overflow: scroll;
    border: 1px solid var(--t-n-pink);
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 95px;
    min-width: 200px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--t-n-deep-gray);
    z-index: 999;
}

.suggestions li {
    border: solid 1px var(--t-n-gray);
    transition: .5s ease;
    padding: 8px;
}

.suggestions li:hover {
    background-color: var(--t-n-gray);
    cursor: pointer;
}

input {
    padding: 10px;
    border-radius: 100px;
    border: var(--t-n-blue) solid 1px;
    padding-right: 30px;
}

.inputContainer {
    position: relative;
}


input:focus {
    border: var(--t-n-pink) solid 1px;
    outline: 1px var(--t-n-pink) solid;
}

/* REMOVE ICON */

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    fill: var(--t-n-pink);
    opacity: 0;
    transition: 0s;
    pointer-events: none;
}

.closeIcon.active {
    opacity: 1;
    transition: 1s ease;
    cursor: pointer;
    pointer-events: all;
}