.modal {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    animation: fade_in forwards ease 2s normal;
    font-family: Inter;
    font-size: 2rem;
}

.modal.closing {
    animation: fade_out forwards ease 2s;
}

.content {
    background-color: var(--t-deep-gray);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3.5vh; /* change based on modal size */
    min-height: 50vh;
    border-radius: 10px;
    border: 1px solid var(--t-blue);
    animation: dive_in forwards ease-out 1s .5s;
    padding: 50px;
    opacity: 0;
    gap: 20px;
    height: fit-content;
    width: 50vw;
    min-width: 200px;
    max-width: 500px;
}

.content.closing {
    animation: dive_out forwards ease-out 1s;
}

.content .closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.content .clipboard {
    width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-size: 1rem;
  gap: 5px;
  align-content: revert;
  align-items: center;
  border-radius: 50px;
  background-image: linear-gradient(to left,var(--t-gray), var(--t-gray), var(--t-green), var(--t-light-green));
    background-size: 300%;
    background-position: calc(100% + 1px); /* deal with the extra space */
    transition: background-position .3s ease;
}

.content .clipboard:hover {
    transition: background-image 1s ease;
    transition: background-position .3s ease;
    background-size: 300%;
    background-position: calc(0% - 1px); /* deal with the extra space */
    background-image: linear-gradient(to left,var(--t-gray), var(--t-gray), var(--t-green), var(--t-light-green));
}

.content .timerContainer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.content .timer {
    color: var(--t-blue);
    font-size: 4rem;
}

.content .player {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.content .player img {
    width: 50px;
}

.results {
    display: flex;
    flex-direction: column;
}

@keyframes fade_in {
    0% {
        background-color: rgba(0, 0, 0, 0);
     };
    100% {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

@keyframes fade_out {
    0% {
        background-color: rgba(0, 0, 0, 0.4);
     };
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}


@keyframes dive_in {
    0% {
        transform: translateY(100px);
        opacity: 0;
     };
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes dive_out {
    0% {
        transform: translateY(0x);
        opacity: 1;
     };
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}