#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.title {
  font-family: "InterItalic";
  text-transform: uppercase;
  color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.game-description {
  background-color: var(--t-gray);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
  transition: 1s ease;
  overflow: hidden;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.game-description h2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer p {
  color: var(--t-gray);
}

.footer a {
  color: var(--t-gray);
  text-decoration: underline;
}

.footer a:hover {
  filter: opacity(50%);
}

.game-description.fade-out {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .game-description {
    max-height: 250px;
  }
}